body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}
.contact-info a {
    color: #3498db;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}
.map-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.map-container iframe {
    border: 0;
    width: 100%;
    max-width: 1000px;
    height: 400px;
}


.container {
    max-width: 1500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #333;
}
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
}
.contact-info p {
    font-size: 18px;
    margin: 10px 0;
}
.contact-info a {
    color: #3498db;
    text-decoration: none;
}
.contact-info a:hover {
    text-decoration: underline;
}
.map-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.map-container iframe {
    border: 0;
    width: 100%;
    max-width: 1000px;
    height: 400px;
}

/* form */

.form-group {
    margin-bottom: 30px;
    padding-left: 30%;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 60%;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 4px;
}

input :last-child {
    float: left;
}
button {
    padding: 10px 20px;
    background-color: #4c82af;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #2479bf;
}